extends layout 

block content 
  div.home-wrapper 
    div.home-title-wrapper
      div.title-container.home-title
        h1= title
        img.book-img(src="/images/book-ribbon.png", alt="Present")
      h2 Welcome, #{currentUser.getFullName}!

    div.home-content
      div(style="background-color:white")
        h3(style="text-decoration:underline") My General Gift Hints  
          span(style="margin-left:10px") 
            a(href="/home/gift-preferences" style="font-size:0.9rem") | Edit Your Gift Hints |
        p I generally like...
        ul  
          each preference in currentUser.gift_preferences 
            li(style="margin-left:10px")= "✓ " + preference
      div(style="background-color:white")
        h3(style="text-decoration:underline;margin-bottom:10px") Gifts I'm Buying 
        ul 
          each gift in friends_gifts
            div.gift-wrapper
              h3= gift.name 
              if gift.link 
                p Given link: 
                  a.buy-link(href=gift.link target="_blank" noreferrer)= gift.getUrlDomain
              if gift.notes
                div 
                  p Notes:
                  p.gift-notes= gift.notes

              form(method="POST" action=`/gift/${gift._id}/unclaim`)
                button.btn(type="submit" style="width:100%;padding:5px;margin:8px 0") Un-Claim Gift


