extends layout 

block content 
  h2(style="text-align:center;margin-bottom:20px")= title

  div.card-container
    div.card-top
      div.user-info-container
        div.photo 
          img(src="https://images.unsplash.com/photo-1633683788845-e9db07766e42?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80", alt="Gift Id Photo")
        div.name 
          h2= user.getFirstName
          h4(style="margin-top:-8px")= user.getLastName
      
      div.date-info  
        h3 Birthday: 
        p= user_month + " " + user.birth_day
        p 
          em= user_astro

    hr(style="margin:10px 0")      
    
    div 
      h4 General Gift Preferences
      ul  
        each pref in user.gift_preferences 
          li(style="margin-left:10px")= "✓ " + pref

  div.gifts-container
    h2 #{user.getFull}
    each gift in user_gifts
      div.gift-wrapper(class=(gift.isClaimed ? "claimed" : "")) 
        h3= gift.name 
        if gift.link 
          p Given link: 
            a.buy-link(href=gift.link target="_blank" noreferrer)= gift.getUrlDomain
        if gift.notes
          div 
            p Notes:
            p.gift-notes= gift.notes

        if gift.isClaimed
          p Someone is purchasing this gift 
        if !gift.isClaimed 
          form(method="POST" action=`/gift/${gift._id}/claim`)
            button.btn(type="submit" style="width:100%;padding:5px;margin:8px 0") Claim Gift
